services:
  - type: web
    name: telegram-bot-simple
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PORT
        value: 8080
    healthCheckPath: /health
    autoDeploy: true
    plan: free
