services:
  - type: web
    name: telegram-bot-webhook
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: PORT
        value: 8080
      - key: BOT_TOKEN
        sync: false  # Это ОЧЕНЬ важно! Значение будет устанавливаться вручную
      - key: PYTHON_VERSION
        value: 3.11.0
    healthCheckPath: /health
    autoDeploy: true
